img{
    width: 100px;
}
#container{
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
body{
    display: flex;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 50px;
}
input{
    margin-bottom: 10px;
}